<ion-content class="ion-padding">
  
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="page-title">All Messages</div>

  <div class="messages" *ngIf="isFound">
    <div class="grid-container">
      <!-- <div class="grid-item" (click)="showMessages()">
        <div class="chat-image">
          <img src="/assets/logo.png" alt="" srcset="">
        </div>
        <div class="chat-details">
          <div class="chat-title">Fukey Education</div>
          <div class="last-message">{{ getLastMessage('dummy') }}</div>
        </div>
      </div>
      <div class="grid-item" (click)="deleteMessages()">
        <div class="chat-image">
          {{ CLASS_NO }}
        </div>
        <div class="chat-details">
          <div class="chat-title">{{ CLASS }}</div>
          <div class="last-message">{{ getLastMessage(CLASS) }}</div>
        </div>
      </div> -->
      <div class="grid-item" *ngFor="let chat of chats" (click)="navigateToMessages(chat.notification_story)">
        <div class="chat-image">
          <img src="assets/logo.png" alt="" srcset="">
          <!-- <img src="{{ chat.notification_image }}" alt="" srcset=""> -->
        </div>
        <div class="chat-details">
          <div class="chat-title">{{ chat.notification_story }}</div>
          <div class="last-message">{{ chat.notification_title }}</div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="!isFound" class="no-result">
    <img src="assets/no_messages.png" width="200px" height="200px" alt="" srcset="">
  </div>
</ion-content>