<ion-content class="ion-padding">
  <div class="page-title">All Messages</div>

  <div class="messages">
    <div class="grid-container">
      <div class="grid-item">
        <div class="chat-image"></div>
        <div class="chat-details">
          <div class="chat-title">Class 9th Social Science</div>
          <div class="last-message">Class curriculum updated...</div>
        </div>
      </div>
      <div class="grid-item">
        <div class="chat-image"></div>
        <div class="chat-details">
          <div class="chat-title">Class 9th Social Science</div>
          <div class="last-message">Class curriculum updated...</div>
        </div>
      </div>
    </div>
  </div>
</ion-content>