#meetingSDKElement{
    transform: translate(0px, 0px);
    --offset-top: 56px;
    --offset-bottom: 57px;
    height: calc(100vh - 249px);
    width: 100%;
    position: relative;
    height: 100vh;
}
.zmwebsdk-MuiDialog-paperWidthMd{
    max-width: 100%;
    width: 100%;
    min-width: auto;
}
.zmwebsdk-makeStyles-videoCustomize-8{
    transform: translate(0px, 0px);
    --offset-top: 56px;
    --offset-bottom: 57px;
    /* height: calc(100vh - 150px); */
    width: 100vw;
}

ion-card {
    margin: 0;
    border-radius: 0;
}

ion-button,
ion-card-content {
    --background: #428cff;
}

.zmwebsdk-makeStyles-singleView-0 {
    height: 100%;
    width: 100vw;
}