#meetingSDKElement{
    transform: translate(0px, 0px);
    --offset-top: 56px;
    --offset-bottom: 57px;
    height: calc(100vh - 249px);
    width: 95vw;
    position: relative;
}
.zmwebsdk-MuiDialog-paperWidthMd{
    max-width: 100%;
    width: 95%;
    min-width: auto;
}
.zmwebsdk-makeStyles-videoCustomize-8{
    transform: translate(0px, 0px);
    --offset-top: 56px;
    --offset-bottom: 57px;
    /* height: calc(100vh - 150px); */
    width: 100vw;
}