ion-toolbar {
    --background: rgb(13, 6, 152);
    --background: linear-gradient(90deg, rgba(13, 6, 152, 1) 0%, rgba(58, 118, 245, 1) 50%, rgba(33, 181, 248, 1) 100%);
}
ion-menu-button {
    --color: #fff;
}
ion-title {
    color: white;
    line-height: 2rem;
    padding-left: 0 !important;
}
.icon-light {
    color: white;
}
