<ion-content class="ion-padding">
  <div *ngIf="type == 'video'" class="tab-contents">
    <div class="top-bar">
      <ion-searchbar class="search-bar" show-clear-button="focus" placeholder="Search" [(ngModel)]="videoTitle"></ion-searchbar>
    </div>

    <div class="secondary-container">
      <span>TOTAL ({{ assets.length }})</span>

      <div class="sort-area">
        <ion-icon name="funnel"></ion-icon>
        <span>SORT</span>
      </div>
    </div>

    <ion-card *ngFor="let item of assets | filterpipe: videoTitle : searchableList">
      <ion-card-header>
        <div (click)="openOfflineMaterial(item.title,'video')" style="display: flex; flex-direction: row;">
          <div class="card-image">
            ▶️
          </div>
          <div class="card-content">
            <ion-card-title>{{ item.title }}</ion-card-title>
            <ion-card-subtitle><ion-icon name="person"></ion-icon>by {{ item.instructor_name }}</ion-card-subtitle>
            <ion-card-subtitle><ion-icon name="pricetag"></ion-icon>{{ item.batchName }}</ion-card-subtitle>
          </div>
        </div>
        <div class="delete-btn" (click)="presentDeleteDialog(item.title, 'video')">
          <ion-icon name="trash-outline"></ion-icon>
        </div>
      </ion-card-header>
    </ion-card>
  </div>

  <div *ngIf="type == 'pdf'" class="tab-contents">
    <div class="top-bar">
      <ion-searchbar class="search-bar" show-clear-button="focus" placeholder="Search" [(ngModel)]="pdfTitle"></ion-searchbar>
    </div>

    <div class="secondary-container">
      <span>TOTAL ({{ assets.length }})</span>

      <div class="sort-area">
        <ion-icon name="funnel"></ion-icon>
        <span>SORT</span>
      </div>
    </div>
    <ion-card *ngFor="let item of assets | filterpipe: pdfTitle : searchableList">
      <ion-card-header>
        <div (click)="openOfflineMaterial(item.title,'pdf')" style="display: flex; flex-direction: row;">
          <div class="card-image">
            📁
          </div>
          <div class="card-content">
            <ion-card-title>{{ item.title }}</ion-card-title>
            <ion-card-subtitle><ion-icon name="person"></ion-icon>by {{ item.instructor_name }}</ion-card-subtitle>
            <ion-card-subtitle><ion-icon name="pricetag"></ion-icon>{{ item.batchName }}</ion-card-subtitle>
          </div>
        </div>
        <div class="delete-btn" (click)="presentDeleteDialog(item.title, 'pdf')">
          <ion-icon name="trash-outline"></ion-icon>
        </div>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>
