<ion-content class="ion-padding">
  <div *ngIf="type == 'video'" class="tab-contents">
    <div class="top-bar">
      <ion-searchbar class="search-bar" show-clear-button="focus" placeholder="Search"></ion-searchbar>
    </div>

    <div class="secondary-container">
      <span>TOTAL (5)</span>

      <div class="sort-area">
        <ion-icon name="funnel"></ion-icon>
        <span>SORT</span>
      </div>
    </div>

    <ion-card>
      <ion-card-header>
        <div class="card-image">
          ▶️
        </div>
        <div class="card-content">
          <ion-card-title>Class 12th English Medium</ion-card-title>
          <ion-card-subtitle><ion-icon name="person"></ion-icon>by Instructor</ion-card-subtitle>
          <ion-card-subtitle><ion-icon name="pricetag"></ion-icon>Category</ion-card-subtitle>
        </div>
      </ion-card-header>
    </ion-card>
    
    <ion-card>
      <ion-card-header>
        <div class="card-image">
          ▶️
        </div>
        <div class="card-content">
          <ion-card-title>Class 12th English Medium</ion-card-title>
          <ion-card-subtitle><ion-icon name="person"></ion-icon>by Instructor</ion-card-subtitle>
          <ion-card-subtitle><ion-icon name="pricetag"></ion-icon>Category</ion-card-subtitle>
        </div>
      </ion-card-header>
    </ion-card>
    
    <ion-card>
      <ion-card-header>
        <div class="card-image">
          ▶️
        </div>
        <div class="card-content">
          <ion-card-title>Class 12th English Medium</ion-card-title>
          <ion-card-subtitle><ion-icon name="person"></ion-icon>by Instructor</ion-card-subtitle>
          <ion-card-subtitle><ion-icon name="pricetag"></ion-icon>Category</ion-card-subtitle>
        </div>
      </ion-card-header>
    </ion-card>
    
    <ion-card>
      <ion-card-header>
        <div class="card-image">
          ▶️
        </div>
        <div class="card-content">
          <ion-card-title>Class 12th English Medium</ion-card-title>
          <ion-card-subtitle><ion-icon name="person"></ion-icon>by Instructor</ion-card-subtitle>
          <ion-card-subtitle><ion-icon name="pricetag"></ion-icon>Category</ion-card-subtitle>
        </div>
      </ion-card-header>
    </ion-card>
    
    <ion-card>
      <ion-card-header>
        <div class="card-image">
          ▶️
        </div>
        <div class="card-content">
          <ion-card-title>Class 12th English Medium</ion-card-title>
          <ion-card-subtitle><ion-icon name="person"></ion-icon>by Instructor</ion-card-subtitle>
          <ion-card-subtitle><ion-icon name="pricetag"></ion-icon>Category</ion-card-subtitle>
        </div>
      </ion-card-header>
    </ion-card>
  </div>

  <div *ngIf="type == 'documents'" class="tab-contents">
    <div class="top-bar">
      <ion-searchbar class="search-bar" show-clear-button="focus" placeholder="Search"></ion-searchbar>
    </div>

    <div class="secondary-container">
      <span>TOTAL (5)</span>

      <div class="sort-area">
        <ion-icon name="funnel"></ion-icon>
        <span>SORT</span>
      </div>
    </div>

    <ion-card>
      <ion-card-header>
        <div class="card-image">
          📁
        </div>
        <div class="card-content">
          <ion-card-title>Class 12th English Medium</ion-card-title>
          <ion-card-subtitle><ion-icon name="person"></ion-icon>by Instructor</ion-card-subtitle>
          <ion-card-subtitle><ion-icon name="pricetag"></ion-icon>Category</ion-card-subtitle>
        </div>
      </ion-card-header>
    </ion-card>
    
    <ion-card>
      <ion-card-header>
        <div class="card-image">
          📁
        </div>
        <div class="card-content">
          <ion-card-title>Class 12th English Medium</ion-card-title>
          <ion-card-subtitle><ion-icon name="person"></ion-icon>by Instructor</ion-card-subtitle>
          <ion-card-subtitle><ion-icon name="pricetag"></ion-icon>Category</ion-card-subtitle>
        </div>
      </ion-card-header>
    </ion-card>
    
    <ion-card>
      <ion-card-header>
        <div class="card-image">
          📁
        </div>
        <div class="card-content">
          <ion-card-title>Class 12th English Medium</ion-card-title>
          <ion-card-subtitle><ion-icon name="person"></ion-icon>by Instructor</ion-card-subtitle>
          <ion-card-subtitle><ion-icon name="pricetag"></ion-icon>Category</ion-card-subtitle>
        </div>
      </ion-card-header>
    </ion-card>
    
    <ion-card>
      <ion-card-header>
        <div class="card-image">
          📁
        </div>
        <div class="card-content">
          <ion-card-title>Class 12th English Medium</ion-card-title>
          <ion-card-subtitle><ion-icon name="person"></ion-icon>by Instructor</ion-card-subtitle>
          <ion-card-subtitle><ion-icon name="pricetag"></ion-icon>Category</ion-card-subtitle>
        </div>
      </ion-card-header>
    </ion-card>
    
    <ion-card>
      <ion-card-header>
        <div class="card-image">
          📁
        </div>
        <div class="card-content">
          <ion-card-title>Class 12th English Medium</ion-card-title>
          <ion-card-subtitle><ion-icon name="person"></ion-icon>by Instructor</ion-card-subtitle>
          <ion-card-subtitle><ion-icon name="pricetag"></ion-icon>Category</ion-card-subtitle>
        </div>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>
