.page-header {
    padding: 0.5rem;
    font-size: large;
    font-weight: 800;
    color: #000;
    display: flex;
    justify-content: center;
}
.content {
    color: #000;
    font-size: small;
}