
.main-layout {
    padding: 0.5rem;
    // display: flex;
    flex-direction: column;
    // height: 100%;
}

.welcome {
    height: 5rem;
    display: flex;
    align-items: center;
}
.profile-pic {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    // background: url('/assets/new/img2.jpg');
    background-position: center !important;
    background-size: cover !important;
    border: 2px solid rgb(31, 8, 235);
}
.welcome-note {
    padding-left: 0.5em;
}
.welcome-title {
    font-size: 1.1rem;
    color: black;
    font-family: 'Montserrat';
}
.welcome-subtitle {
    font-size: 0.8rem;
    color: black;
}

.promo-video {
    width: 99%;
}

.live-classes {
    margin: 1rem 0;
}
.live-classes-container {
    height: 100%;
    border: 3px solid #d91111;
    border-radius: 20px;
    background: rgb(253 211 211 / 58%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #d91111;

    .live-class-status {
        position: absolute;
        right: 1rem;
        top: 1rem;
        background: #d91111;
        padding: 0.5rem 1rem;
        color: #ffffff;
        font-weight: 600;
        border-radius: 20px;
    }
}
.upcoming-classes-container {
    height: 100%;
    border: 3px solid #2b50d5;
    border-radius: 20px;
    background: rgba(211, 222, 253, 0.5803921569);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #2b50d5;

    .upcoming-class-status {
        position: absolute;
        right: 1rem;
        top: 1rem;
        background: #2b50d5;
        padding: 0.5rem 1rem;
        color: #ffffff;
        font-weight: 600;
        border-radius: 20px;
    }
}
.class-name {
    margin-top: 1rem;
    margin-left: 1rem;
    font-size: 1rem;
    font-weight: 900;
    margin-bottom: 1rem;
}
.subject-name {
    margin-left: 1rem;
    font-size: 1.6rem;
    line-height: 1.8rem;
}
.class-timing {
    margin-left: 1rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
}
.enrolled-batches {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 1rem;
}
.live-classes-header,
.enrolled-batches-header {
    height: 15%;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    color: black;
}
#live-classes-title,
#enrolled-batches-title,
#live-classes-title,
#for-you-title {
    font-size: 0.8rem;
    font-weight: bolder;
    color: black;
}
.course-image {
    width: 100%;
    aspect-ratio: 2 / 1;
    border-radius: 8px;
}
#enrolled-batches-all,
#for-you-all {
    font-size: 0.5rem;
    font-weight: 900;
}
.live-classes-content {
    aspect-ratio: 3/1;
}
.enrolled-batches-content {
    // width: 100%;
    aspect-ratio: 2/1;
}
.swiper {
    height: 100%;
}
.swiper-wrapper,
.swiper-slide {
    height: 100%;
}
.course-container {
    height: auto;
    background-color: #F2F2F2;
    border-radius: 8px;
    box-shadow: rgb(0, 0, 0) 1px 1.95px 1.6px;
    display: flex;
    margin-right: 5px;
    align-items: center;
}

.upcoming-class-slide,
.live-class-slide {
    aspect-ratio: 2 / 1;
}

.subject-wise-categorization {
    margin-bottom: 1rem;
}
.class-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 15px;
}
.subject-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 15px;
}
.class-item {
    background-color: #ffffff;
    border: 1px solid #3582f5;
    border-radius: 10rem;
    padding: 10px;
    text-align: center;
    color: #3582f5;
    font-size: 1rem;
}
.class-wrapper .selected {
    background-color: #3582f5;
    border-radius: 10rem;
    padding: 10px;
    text-align: center;
    color: #ffffff;
    font-size: 1rem;
}

.subject-item {
    padding: 1rem;
    text-align: center;
    background: #1b59b5;
    color: #ffffff;
    border-radius: 20px;
    box-shadow: 3px 3px 5px #000000;

    .subject-item-icon {
        position: absolute;
    }
}
.for-you {
    height: 24rem;
}
.for-you-header {
    height: 10%;
    display: flex;
    justify-content: space-between;
    color: black;
}
.for-you-content {
    height: 90%;
}
.for-you-slide {
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.for-you-course-container {
    height: 90%;
    width: 47%;
    background-color: rgb(244, 243, 243);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 1.0) 1.95px 1.95px 2.6px;;
    margin-right: 5px;
    border: #5aed4d;
}
.for-you-course-image {
    height: 10rem;
    width: 100%;
    // background: url(/assets/new/img1.jpg);
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
    // margin-top: 5%;
    border-radius: 1rem;
    // margin-left: 5%;
}
.for-you-course-details {
    display: flex;
    flex-direction: column;
    height: 60%;
    width: 100%;
    margin-left: 5%;
}
.for-you-course-name {
    font-weight: 600;
    width: 90%;
    color: black;
    font-size: 0.7rem;
}
.view-details {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;
    margin-bottom: 20%;
    margin-right: 10%;
    font-size: 0.5rem;
}
.course-key-points {
    width: 90%;
    font-size: 0.6rem;
    text-transform: capitalize;
    
    div {
        color: black;
        .library {
            color: rgb(43, 13, 190);
        }
        .star {
            color: rgb(204, 197, 4);
        }
    }
}

.text-center {
    display: flex;
    justify-content: center;
    width: 100%;
    color: #000;
    font-size: 1rem;
}

// CUSTOM CSS FOR MEDIUM SWITCH

.medium-switch {
    margin-top: 2rem;
}
.toggle-button-cover {
    display: table-cell;
    position: relative;
    width: 200px;
    height: 140px;
    box-sizing: border-box;
  }
  
  .button-cover {
    height: 100px;
    margin: 20px;
    background-color: #fff;
    box-shadow: 0 10px 20px -8px #c5d6d6;
    border-radius: 4px;
  }
  
  .button-cover:before {
    counter-increment: button-counter;
    content: counter(button-counter);
    position: absolute;
    right: 0;
    bottom: 0;
    color: #d7e3e3;
    font-size: 12px;
    line-height: 1;
    padding: 5px;
  }
  
  .button-cover,
  .knobs,
  .layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .button {
    position: relative;
    top: 50%;
    width: 95%;
    height: 36px;
    margin: -20px auto 0 auto;
    overflow: hidden;
  }
  
  .button.r,
  .button.r .layer {
    border-radius: 100px;
  }
  
  .button.b2 {
    border-radius: 2px;
  }
  
  .checkbox {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
  }
  
  .knobs {
    z-index: 2;
  }
  
  .layer {
    width: 100%;
    background-color: #ebf7fc;
    transition: 0.3s ease all;
    z-index: 1;
  }


  /* Button 3 */
#button-3 .knobs:before {
    content: "ENGLISH";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 50%;
    height: 10px;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 9px 4px;
    background-color: #03a9f4;
    border-radius: 50px;
    transition: 0.3s ease all, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);
  }
  
  #button-3 .checkbox:active + .knobs:before {
    width: 46px;
    border-radius: 100px;
  }
  
  #button-3 .checkbox:checked:active + .knobs:before {
    margin-left: -26px;
  }
  
  #button-3 .checkbox:checked + .knobs:before {
    content: "HINDI";
    left: 46%;
    background-color: #f44336;
  }
  
  #button-3 .checkbox:checked ~ .layer {
    background-color: #fcebeb;
  }