<ion-content>
  <div class="main-layout">

    <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <!-- ALERT BOX STARTS HERE -->

    <ion-alert
    [isOpen]="isAlertOpen"
    header="ALERT!"
    message="Here will be the alert message."
    [buttons]="alertButtons"
    (didDismiss)="setOpen(false)"
    ></ion-alert>

    <!-- ALERT BOX ENDS HERE -->

    <!-- WELCOME NOTE STARTS HERE -->

    <div class="welcome">
      <img class="profile-pic" *ngIf="userImage != null" [src]="userpic">
      <div class="profile-pic" *ngIf="userImage == null"></div>
      <div class="welcome-note">
        <div class="welcome-title"><b>Welcome, {{ username }}!</b></div>
        <div class="welcome-subtitle">You have {{ noOfEnrolledCourse }} enrolled courses</div>
      </div>
    </div>

    <!-- WELCOME NOTE ENDS HERE -->


    <!-- INTRODUCTION VIDEO STARTS HERE -->

    <video #videoElement class="promo-video" src="assets/video/Introduction to Fukey Education.mp4" autoplay loop (click)="toggleVideo()"></video>

    <!-- INTRODUCTION VIDEO ENDS HERE -->


    <!-- LIVE CLASS STARTS HERE -->

    <div class="live-classes" id="live-classes" *ngIf="allLiveClasses.length > 0">
      <div class="live-classes-header">
        <span id="live-classes-title"><b>Live Classes</b></span>
      </div>

      <div id="live-classes-div" class="live-classes-div">
        <div class="swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide upcoming-class-slide" *ngFor="let class of allLiveClasses;">
              <div class="upcoming-classes-container" *ngIf="!isClassStarted(class.is_started)" (click)="navigateToCourseContentPage(class.course_id)">
                <div class="upcoming-class-status">UPCOMING</div>
                <div>
                  <!-- <div class="class-name">{{ class.name }}</div> -->
                  <div class="subject-name">{{ class.organiser_name }}</div>
                </div>
                <div class="class-timing">{{ extractTimeFromTimestamp(class.time) }}, {{ extractDateFromTimestamp(class.time) }}</div>
              </div>
              <div class="live-classes-container" *ngIf="isClassStarted(class.is_started)" (click)="navigateToCourseContentPage(class.course_id)">
                <div class="live-class-status">LIVE</div>
                <div>
                  <!-- <div class="class-name">{{ class.name }}</div> -->
                  <div class="subject-name">{{ class.organiser_name }}</div>
                </div>
                <div class="class-timing">{{ extractTimeFromTimestamp(class.time) }}, {{ extractDateFromTimestamp(class.time) }}</div>
              </div>
            </div>
          </div>
          <div class="swiper-pagination1" style="display: none;"></div>
        </div>

      </div>
    </div>

    <!-- LIVE CLASS ENDS HERE -->


    <!-- ENROLLED BATCHES STARTS HERE -->

    <div class="enrolled-batches" id="enrolled-batches">
      <div class="enrolled-batches-header">
        <span id="enrolled-batches-title"><b>Enrolled Batches</b></span>
        <span id="enrolled-batches-all" (click)="goToBatchesTab()"><a>View All<b>></b></a></span>
      </div>

      <div id="showEnrollCourse" class="enrolled-batches-content">

        <div class="swiper">
          <div class="swiper-wrapper">            
            <div class="swiper-slide" *ngFor="let enroll of enrolledCourses;">
              <div class="course-container" (click)="navigateToCourseContentPage(enroll.id)">
                <img class="course-image" src="{{enroll.banner}}" alt="" srcset="">
              </div>
            </div>
          </div>

          <div class="swiper-pagination2"></div>
        </div>

      </div>
    </div>

    <!-- ENROLLED BATCHES ENDS HERE -->

    <!-- VISION-MISSION STARTS HERE -->

    <ion-card class="card">
      <ion-card-header>
        <ion-card-title class="card-title">VISION</ion-card-title>
      </ion-card-header>

      <ion-card-content class="card-content">
        Fukey Education envisions a world where learning knows no boundaries and every individual has the opportunity to unlock their full potential.
      </ion-card-content>
    </ion-card>

    <ion-card class="card">
      <ion-card-header>
        <ion-card-title class="card-title">MISSION</ion-card-title>
      </ion-card-header>

      <ion-card-content class="card-content">
        Our mission is to revolutionize education by providing accessible, engaging, and personalized learning experiences that empower individuals to thrive in an ever-changing world.
      </ion-card-content>
    </ion-card>

    <!-- VISION-MISSION ENDS HERE -->


    <!-- SUBJECT-WISE CATEGORIZATION STARTS HERE -->

    <div class="subject-wise-categorization">
      <div class="medium-switch">
        <div class="button r" id="button-3">
          <input type="checkbox" class="checkbox" (change)="onCheckboxChange($event)" checked="{{ isChecked }}"/>
          <div class="knobs"></div>
          <div class="layer">
            <span style="color: #f44336">ENGLISH</span>
            <span style="color: #03a9f4">HINDI</span>
          </div>
        </div>
      </div>
      <div class="class-wrapper" #classesList>
        <div class="class-item" *ngFor="let class of classList; let i = index" #itemElement (click)="onItemClick(itemElement, class.id)">
          {{ class.name }}
        </div>
      </div>
        <div class="subject-wrapper" *ngIf="subjectList.length > 0">
          <div class="subject-item" *ngFor="let subject of subjectList" (click)="navigateToCourseContentPage(subject.id)">
            <div style="margin: 1rem 0;">
              <i class="{{ subject.icon }}" style="font-size: 2.5rem; color: #3582f5;"></i>
            </div>
            <div class="subject-item-name">{{ extractSubjectName(subject.title) }}</div>
          </div>
        </div>
    </div>

    <div class="for-you" *ngIf="subjectList.length > 0">
      <div class="for-you-content">
        <div class="swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide for-you-slide" *ngFor="let all of newAllCourses;">
              <div class="for-you-course-container" *ngFor="let course of all;" (click)="navigateToCourseContentPage(course.id)">
                <div class="for-you-course-image" style="background: url('{{course.thumbnail}}');background-position: center; background-repeat: no-repeat; background-size: cover;"></div>
                <div class="for-you-course-details">
                  <div class="for-you-course-name">{{ course.title }}</div>
                  <div class="course-key-points">
                    <div>
                      <ion-icon class="library" name="library"></ion-icon> {{ course.level }}
                    </div>
                    <div>
                      <ion-icon class="star" name="star"></ion-icon> {{ course.number_of_ratings }}/5.0 Rating
                    </div>
                    <div>
                      <ion-icon class="people" name="people"></ion-icon> {{ course.total_enrollment }}
                    </div>
                  </div>
                  <div class="view-details">
                    <a>View Details<b>></b></a>
                  </div>
                </div>
              </div>

            </div>
          
          </div>

          <!-- <div class="swiper-pagination"></div> -->

        </div>
      </div>
    </div>

    <!-- SUBJECT-WISE CATEGORIZATION ENDS HERE -->


    <!-- FOR-YOU STARTS HERE -->

    <!-- <div class="for-you">
      <div class="for-you-header">
        <span id="for-you-title"><b>For You</b></span>
        <span id="for-you-all" (click)="goToStoreTab()"><a>View All<b>></b></a></span>
      </div>
      <div class="for-you-content">
        <div class="swiper">

          <div class="swiper-wrapper">

            <div class="swiper-slide for-you-slide" *ngFor="let all of newAllCourses;">
              
              <div class="for-you-course-container" *ngFor="let course of all;" (click)="navigateToCourseContentPage(course.id)">
                <div class="for-you-course-image" style="background: url('{{course.thumbnail}}');background-position: center; background-repeat: no-repeat; background-size: cover;"></div>
                <div class="for-you-course-details">
                  <div class="for-you-course-name">{{ course.title }}</div>
                  <div class="course-key-points">
                    <div>
                      <ion-icon class="library" name="library"></ion-icon> {{ course.level }}
                    </div>
                    <div>
                      <ion-icon class="star" name="star"></ion-icon> {{ course.number_of_ratings }}/5.0 Rating
                    </div>
                    <div>
                      <ion-icon class="people" name="people"></ion-icon> {{ course.total_enrollment }}
                    </div>
                  </div>
                  <div class="view-details">
                    <a>View Details<b>></b></a>
                  </div>
                </div>
              </div>

            </div>
          
          </div>

          <div class="swiper-pagination"></div>

        </div>
      </div>
    </div> -->

    <!-- FOR-YOU ENDS HERE -->

    <!-- TESTIMONIAL STARTS HERE -->

    <div class="testimonial-container" *ngIf="isTestimonyAvailabe">
      <div class="progress-bar"></div>
      <div class="fas fa-quote-right fa-quote"></div>
      <div class="fas fa-quote-left fa-quote"></div>
      <p class="testimonial">{{testimonialDesc}}</p>
      <div class="user">
        <img src="{{testimonialImage}}" alt="{{testimonialName}}" class="user-image">
        <div class="user-details">
          <h4 class="username">{{testimonialName}}</h4>
          <p class="role">{{testimonialClass}}</p>
        </div>
      </div>
    </div>

    <!-- TESTIMONIAL ENDS HERE -->

  </div>
</ion-content>