<ion-content>
  <div class="main-container">
    <div class="top-bar">
      <ion-searchbar class="search-bar" show-clear-button="focus" (search)="searchCourse($event.target)" placeholder="Subject, Topic, etc ..."></ion-searchbar>
      <ion-button class="filter-btn">
        <ion-icon slot="icon-only" name="options-outline"></ion-icon>
      </ion-button>
    </div>

    <div class="top-buttons">
      <ion-button id="select-class-btn" class="my-btn" (click)="changeCategory($event)">All Courses</ion-button>
      <ion-button id="popular-btn" class="inactive-btn my-btn" (click)="changeCategory($event)">Popular</ion-button>
      <ion-button id="free-btn" class="inactive-btn my-btn" (click)="changeCategory($event)">Free</ion-button>
      <ion-button id="tests-btn" class="inactive-btn my-btn" (click)="changeCategory($event)">Tests</ion-button>
    </div>

    <div class="grid-container">

      <div *ngFor="let course of allCourses;" class="grid-item" (click)="navigateToCourseContentPage(course.id)">
        <img src="{{ course.thumbnail }}" alt="" srcset="">
        <div class="grid-info">
          <div class="info">
            <div class="subject">{{ course.title }}</div>
            <div class="content"><ion-icon name="people"></ion-icon>&nbsp;+50 Members</div>
          </div>
          <div class="leave">
            <ion-icon name="enter"></ion-icon>
          </div>
        </div>
      </div>

    </div>
  </div>
</ion-content>