<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <div class="main-container">
    <div class="top-bar">
      <ion-searchbar class="search-bar" show-clear-button="always" (search)="searchCourse($event.target)" placeholder="Search" debounce="1000" (ionInput)="textChanged($event.target)"></ion-searchbar>
      <!-- <ion-button class="filter-btn">
        <ion-icon slot="icon-only" name="options-outline"></ion-icon>
      </ion-button> -->
    </div>

    <div class="top-buttons">
      <ion-button id="select-class-btn" class="my-btn" (click)="changeCategory($event)">All</ion-button>
      <ion-button id="popular-btn" class="inactive-btn my-btn" (click)="changeCategory($event)">Top</ion-button>
      <ion-button id="free-btn" class="inactive-btn my-btn" (click)="changeCategory($event)">Free</ion-button>
      <ion-button id="english-btn" class="inactive-btn my-btn" (click)="changeCategory($event)">English</ion-button>
      <ion-button id="hindi-btn" class="inactive-btn my-btn" (click)="changeCategory($event)">Hindi</ion-button>
    </div>

    <div class="grid-container" *ngIf="isFound">

      <div *ngFor="let course of allCourses;" class="grid-item" (click)="navigateToCourseContentPage(course.id)">
        <img src="{{ course.thumbnail }}" alt="" srcset="">
        <div class="grid-info">
          <div class="info">
            <div class="subject">{{ course.title }}</div>
            <div class="content"><ion-icon name="people"></ion-icon>&nbsp;+50 Members</div>
          </div>
          <div class="leave">
            <ion-icon name="enter"></ion-icon>
          </div>
        </div>
      </div>

    </div>

    <div *ngIf="!isFound" class="no-result">
      <img src="assets/no_result_found.png" width="200px" height="200px" alt="" srcset="">
    </div>
  </div>
</ion-content>