ion-content {
    --background: white;
}

@-webkit-keyframes fade-in{0%{opacity:0}100%{opacity:1}}@keyframes fade-in{0%{opacity:0}100%{opacity:1}}
.container {
    -webkit-animation:fade-in 2s ease-in both;animation:fade-in 2s ease-in both;
    img {
        height: 30vh;
        margin-top: 35vh;
    }
}