<ion-content>
  <div class="page-header">Enrolled Batches</div>

  <div class="batch-list" *ngIf="isEnrolledCourseAvailable">

    <div *ngFor="let course of enrolledCourses;" class="course-container" (click)="navigateToCourseContentPage(course.id)">
      <div class="course-image" style="background: url('{{course.thumbnail}}');background-position: center; background-repeat: no-repeat; background-size: cover;"></div>
      <div class="course-details">
        <div class="course-name">{{course.title}}</div>
        <div class="details">Current Progress: <b>{{ course.completion }}%</b></div>
        <div class="live-class" *ngIf="course.live_class_datetime">Live Class at {{ course.live_class_datetime }}</div>
        <div class="continue">
          <span class="continue-text">Continue</span><ion-icon name="enter"></ion-icon>
        </div>
      </div>
    </div>

  </div>
  
  <div class="text-center"  *ngIf="!isEnrolledCourseAvailable">
    You have no enrolled course.
  </div>
</ion-content>