<ion-content>
  <div class="main-container" style="min-height: 100%;">

    <ion-segment value="documents" (ionChange)="changeActiveTab($event)">
      <ion-segment-button value="documents">
        <ion-label class="segment-lable">Documents</ion-label>
      </ion-segment-button>
      <ion-segment-button value="videos">
        <ion-label class="segment-lable">Videos</ion-label>
      </ion-segment-button>
    </ion-segment>

    <div *ngIf="activeTab == 'videos'" class="tab-contents">
      <div class="top-bar">
        <ion-searchbar class="search-bar" show-clear-button="focus" placeholder="Search"></ion-searchbar>
      </div>

      <div class="secondary-container">
        <span>TOTAL (5)</span>

        <div class="sort-area">
          <ion-icon name="funnel"></ion-icon>
          <span>SORT</span>
        </div>
      </div>

      <ion-card (click)="openDownloadsPage('video')">
        <ion-card-header>
          <div class="card-image">
            ▶️
          </div>
          <div class="card-content">
            <ion-card-title>Class 12th English Medium</ion-card-title>
            <ion-card-subtitle><ion-icon name="person"></ion-icon>by Instructor</ion-card-subtitle>
            <ion-card-subtitle><ion-icon name="pricetag"></ion-icon>Category</ion-card-subtitle>
          </div>
        </ion-card-header>
      </ion-card>
      
      <ion-card (click)="openDownloadsPage('video')">
        <ion-card-header>
          <div class="card-image">
            ▶️
          </div>
          <div class="card-content">
            <ion-card-title>Class 12th English Medium</ion-card-title>
            <ion-card-subtitle><ion-icon name="person"></ion-icon>by Instructor</ion-card-subtitle>
            <ion-card-subtitle><ion-icon name="pricetag"></ion-icon>Category</ion-card-subtitle>
          </div>
        </ion-card-header>
      </ion-card>
      
      <ion-card (click)="openDownloadsPage('video')">
        <ion-card-header>
          <div class="card-image">
            ▶️
          </div>
          <div class="card-content">
            <ion-card-title>Class 12th English Medium</ion-card-title>
            <ion-card-subtitle><ion-icon name="person"></ion-icon>by Instructor</ion-card-subtitle>
            <ion-card-subtitle><ion-icon name="pricetag"></ion-icon>Category</ion-card-subtitle>
          </div>
        </ion-card-header>
      </ion-card>
      
      <ion-card (click)="openDownloadsPage('video')">
        <ion-card-header>
          <div class="card-image">
            ▶️
          </div>
          <div class="card-content">
            <ion-card-title>Class 12th English Medium</ion-card-title>
            <ion-card-subtitle><ion-icon name="person"></ion-icon>by Instructor</ion-card-subtitle>
            <ion-card-subtitle><ion-icon name="pricetag"></ion-icon>Category</ion-card-subtitle>
          </div>
        </ion-card-header>
      </ion-card>
      
      <ion-card (click)="openDownloadsPage('video')">
        <ion-card-header>
          <div class="card-image">
            ▶️
          </div>
          <div class="card-content">
            <ion-card-title>Class 12th English Medium</ion-card-title>
            <ion-card-subtitle><ion-icon name="person"></ion-icon>by Instructor</ion-card-subtitle>
            <ion-card-subtitle><ion-icon name="pricetag"></ion-icon>Category</ion-card-subtitle>
          </div>
        </ion-card-header>
      </ion-card>
    </div>
    
    <div *ngIf="activeTab == 'documents'" class="tab-contents">
      <div class="top-bar">
        <ion-searchbar class="search-bar" show-clear-button="focus" placeholder="Search"></ion-searchbar>
      </div>

      <div class="secondary-container">
        <span>TOTAL (5)</span>

        <div class="sort-area">
          <ion-icon name="funnel"></ion-icon>
          <span>SORT</span>
        </div>
      </div>

      <ion-card (click)="openDownloadsPage('file')">
        <ion-card-header>
          <div class="card-image">
            📁
          </div>
          <div class="card-content">
            <ion-card-title>Class 12th English Medium</ion-card-title>
            <ion-card-subtitle><ion-icon name="person"></ion-icon>by Instructor</ion-card-subtitle>
            <ion-card-subtitle><ion-icon name="pricetag"></ion-icon>Category</ion-card-subtitle>
          </div>
        </ion-card-header>
      </ion-card>
      
      <ion-card (click)="openDownloadsPage('file')">
        <ion-card-header>
          <div class="card-image">
            📁
          </div>
          <div class="card-content">
            <ion-card-title>Class 12th English Medium</ion-card-title>
            <ion-card-subtitle><ion-icon name="person"></ion-icon>by Instructor</ion-card-subtitle>
            <ion-card-subtitle><ion-icon name="pricetag"></ion-icon>Category</ion-card-subtitle>
          </div>
        </ion-card-header>
      </ion-card>
      
      <ion-card (click)="openDownloadsPage('file')">
        <ion-card-header>
          <div class="card-image">
            📁
          </div>
          <div class="card-content">
            <ion-card-title>Class 12th English Medium</ion-card-title>
            <ion-card-subtitle><ion-icon name="person"></ion-icon>by Instructor</ion-card-subtitle>
            <ion-card-subtitle><ion-icon name="pricetag"></ion-icon>Category</ion-card-subtitle>
          </div>
        </ion-card-header>
      </ion-card>
      
      <ion-card (click)="openDownloadsPage('file')">
        <ion-card-header>
          <div class="card-image">
            📁
          </div>
          <div class="card-content">
            <ion-card-title>Class 12th English Medium</ion-card-title>
            <ion-card-subtitle><ion-icon name="person"></ion-icon>by Instructor</ion-card-subtitle>
            <ion-card-subtitle><ion-icon name="pricetag"></ion-icon>Category</ion-card-subtitle>
          </div>
        </ion-card-header>
      </ion-card>
      
      <ion-card (click)="openDownloadsPage('file')">
        <ion-card-header>
          <div class="card-image">
            📁
          </div>
          <div class="card-content">
            <ion-card-title>Class 12th English Medium</ion-card-title>
            <ion-card-subtitle><ion-icon name="person"></ion-icon>by Instructor</ion-card-subtitle>
            <ion-card-subtitle><ion-icon name="pricetag"></ion-icon>Category</ion-card-subtitle>
          </div>
        </ion-card-header>
      </ion-card>
    </div>

  </div>
</ion-content>