.segment-lable {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 900;
    font-size: 0.7rem;
    color: #000
}
.tab-contents {
    padding: 1rem 1rem 0 1rem;
}
ion-searchbar {
    --background: #E7E8FF;
    color: #000;
    --border-radius: 10px;
}
.top-bar {
    display: flex;
}
.search-bar {
    height: 2rem;
    width: 100%;
}
.searchbar-input.sc-ion-searchbar-md {
    font-size: 0.8rem;
    padding-left: 40px;
    padding-right: 40px;
}
.searchbar-search-icon.sc-ion-searchbar-md, .searchbar-cancel-button.sc-ion-searchbar-md {
    color: #002CBD;
}

.secondary-container{
    display: flex;
    justify-content: space-between;
    color: #000;
    margin-top: 2rem;
}
.sort-area {
    display: flex;

    ion-icon {
        margin-right: 0.5rem;
    }
}

ion-card {
    --background: #FAFAFA;
}
ion-card-header{
    display: flex;
    flex-direction: row;
    font-weight: 600;
    font-size: 1.2rem;

    .card-image {
        font-size: 3rem;
        flex: 3;
        display: flex;
        align-items: center;
    }
    .card-content {
        flex: 9;
    }
    ion-card-title {
        color: #000;
        font-size: 1.2rem;
        font-weight: 600;
    }
    ion-card-subtitle {
        color: #000;
        display: flex;
        margin-top: 0.5rem; 

        ion-icon {
            color: #002CBD;
            font-size: 1.3rem;
            margin-right: 1rem;
        }
    }
    .delete-btn {
        font-size: 1.5rem;
        color: red;
        height: fit-content;
    }
}